/* Center the login card */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6f8;
  padding: 20px;
}

.login-card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: normal;
  color:  #034f84;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color:  #034f84;
}

input {
  padding: 10px;
  border: 1px solid  #034f84;
  border-radius: 6px;
  font-size: 1rem;
 color:  #034f84;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color:  #034f84;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: deepskyblue;
}

.error {
  color: red;
  margin-top: 5px;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .login-card {
    padding: 20px;
  }
}
